body{
  text-align: center;
  background-color: white;
  color: black;
}

#title{
  background-color: white;
  color: black;
  text-align: left;
}

/* Title Image */
.title-image{
  transform: rotate(0deg);
  margin-left: 100px;
  position: absolute;
  right: 0%;
  z-index: 1;
}
.title-image2{
  transform: rotate(0deg);
  margin-left: 120px;
  position: absolute;
  right: 2%;
  z-index: 1;
}

/* Footer */
#footer{
  background-color: white;

  padding:5% 15%;

}
.foot-icons{
  margin: 10px;
}


#features{
  background-color: white;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: black;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: black;
}
h1, h3{
    line-height: 1.5;
    font-weight: bold;
}


.container-fluid{
  padding: 5% 12%;
  padding-bottom: 8%;
  background-color: white;
}


/* navigation bar */
.navbar{
padding-bottom: 0.7rem;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
}
.nav-link{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;

}
.navbar-nav{
  margin-left: 330px;

}


.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}


.giphy{
  border-radius: 8%;
  border-style: inset;
  border-color: black;
}
  /* sai */
